<main class="structure">
  <section class="padding">
    <div id="headline">
      <h2>References</h2>
      <p>
        {{'references.subheadline' | translate}}
      </p>
    </div>

    <section id="reference-wrapper">
      <div id="references">
        <div class="reference">
          <h3>&rdquo;</h3>
          <h4>L.Kronhardt</h4>
          <span>Team Partner</span>
          <p>
            {{'references.reference-one' | translate}}
          </p>
        </div>

        <div class="reference">
          <h3>&rdquo;</h3>
          <h4>Artur Groblicki</h4>
          <span>Team Partner</span>
          <p>{{'references.reference-two' | translate}}</p>
        </div>

        <div class="reference">
          <h3>&rdquo;</h3>
          <h4>B.Anvari</h4>
          <span>Team Partner</span>
          <p>
            {{'references.reference-three' | translate}}
          </p>
        </div>
      </div>
    </section>

  </section>
</main>
